<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We In The Woods</title>
</head>

<body>
    <header>
        <h1><a href="post_list.html">We In The Woods</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="post_list.html">How it's made?</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="mission.html">The Missions</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
    </nav>
    <div id="wrapper">
        <div id="homehero">
        </div>
        <main>
            <h2>We In The Woods</h2>
            <p>We're a family business whose <em>materialistic</em> focus differs from many others. Primarily, we focus
                on the material of your choice, the quality of the products, and most importantly, your satisfaction.
                The latter fuels our satisfaction and joy, allowing us to produce unique designs and products that allow
                this beautiful cycle to continue.
            </p>
            <ul>
                <li id="how">How it's made?</li>
                <li id="router">CNC Router 3D designs</li>
                <li id="laser">CNC Laser cutting & engraving</li>
                <li id="videos">Videos</li>
            </ul>
            <div id="contact">
                <span class="witw">We In The Woods</span>
                <br> Salem, IN, 47167 <br>
                <br> <a id="mobile" href="tel:502-751-3333">502-751-3333</a> <span id="desktop">502-751-3333</span><br>
            </div>
        </main>
        <footer> Copyright © 2024 We In The Woods <br>
            <a href="mailto:weinthewoods@gmail.com">email address</a>
        </footer>
    </div>
</body>

</html>